.percentageSection {
    .percentageContent {
        .percentageBar {
            height: 20px;
            border: none;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}