.projectsSection {
    width: 1000px;
    margin: 0 auto;

    .projectsContent {
        margin-block: 100px;

        .projectsContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .projectsButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-block: 40px;
            font-weight: 500;

            .button {
                border-radius: 10px;
                text-align: center;
                padding: 20px 15px;
                border: 1px solid black;
                width: 20%;
            }

            .button:hover {
                background-color: rgb(56, 56, 56);
                color: white;
                transition: all 0.4s;
                cursor: pointer;
                border: 1px solid white;
            }
        }
    }
}