.about-section {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 800px;
        margin: 0 auto;

        .about-container-image {
            width: 40%;
            height: 400px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        .about-container-text {
            width: 60%;
            display: flex;
            flex-direction: column;

            justify-content: center;

            gap: 20px;

            .about-container-text-heading {
                font-weight: bold;
            }

            .about-container-text-description {
                color: rgb(193, 193, 193);
                font-size: 14px;

                span {
                    font-weight: bold;
                    color: white;
                }

                p {
                    margin-bottom: 10px;
                }
            }
        }
    }
}