.aboutHomeSection {
    .aboutHomeContent {
        margin-block: 100px 30px;

        .text {
            color: rgba(white, 0.5);
            font-weight: 500;
            font-size: 17px;
            line-height: 2;

            span {
                color: white;
            }
        }

        .resumeText {
            margin-block: 20px 40px;
            font-size: 20px;
            padding: 10px 0;

            span {
                border-bottom: 1px solid transparent;
                padding-block: 5px;
            }

            span:hover {
                cursor: pointer;
                border-bottom: 1px solid #5ce6d0;

                svg {
                    transform: scale(1.3);
                    transition: all 0.3s;
                }
            }


        }
    }
}