.projectArchiveItemSection {
    .projectArchiveItemContent {
        .projectArchiveItemContainer {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            color: rgb(201, 200, 200);
            opacity: 0.7;
            padding: 20px 10px;

            span {
                width: 25%;
                text-align: center;
            }

            .year {
                width: 10%;
            }

            .builtWithContainer {
                width: 30%;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                justify-content: center;

                .builtWith {
                    color: #5ce6d0;
                    height: 20px;
                    font-weight: 400;
                    padding: 5px 1px;
                    background-color: #5ce6cf2a;
                    border-radius: 50px;
                }
            }
        }

        .projectArchiveItemContainer:hover {
            cursor: pointer;
            background-color: rgba(204, 203, 203, 0.1);
            transition: all 0.3s;
            opacity: 1;
            color: white;

            .navLink {
                color: #5ce6d0;
            }
        }
    }
}