.headerSection {
    margin: 40px 20px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: white;

    .headerContent {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0 125px;
        align-items: center;

        .navbarItems {
            display: flex;
            gap: 40px;
            justify-content: flex-end;
            align-items: center;
            position: relative;
        }

        .navbarItems li:hover {
            cursor: pointer;
            transform: scale(1.1, 1.1);
            transition: all 0.5s;
        }


        .navbarButton {
            border: 1px solid rgb(56, 56, 56);
            background-color: rgb(56, 56, 56);
            padding: 15px;
            color: white;
            margin-block: 10px;
            border-radius: 10px;
        }

        .navbarButton:hover {
            border: 1px solid black;
            color: black;
            transition: all 0.4s;
            background-color: white;
            cursor: pointer;
        }
    }
}

@keyframes bottomTagLine {
    0% {
        width: 0%;
    }

    50% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}